{% extends "base.jinja2" %}

{% block head_meta %}
    {{ super() }} {# Include base meta tags #}
    <meta name="description" content="Página principal de la aplicación ReactPyx.">
{% endblock head_meta %}

{% block content %}
    {# Just inherit the base content which includes the #app div and loader #}
    {{ super() }}
{% endblock content %}
